{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "babel/new-cap": 1,
    "react/jsx-uses-react": 2,
    "react/react-in-jsx-scope": 2
  },
  "plugins": ["babel", "react"]
}
